[Unit]
Description=Pushgateway
Wants=network-online.target
After=network-online.target

[Service]
User=root
PIDFile=/var/run/pushgateway.pid
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/pushgateway \
    --web.listen-address=:9091 \
    --web.telemetry-path=/metrics \
    --persistence.file=/opt/monitor/pushgateway/metric.store \
    --persistence.interval=5m
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=10s
SendSIGKILL=no
SyslogIdentifier=prometheus_statsd_exporter
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target