[Unit]
Description=Node Exporter Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/sbin
ExecStart=/sbin/node_exporter \
          --collector.mountstats \
          --collector.meminfo_numa

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=10s
SendSIGKILL=no
SyslogIdentifier=prometheus_node_exporter
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
